:root {
    --primary-color: #f28500;
    --secondary-color: #f7f052;
    --accent1-color: #563f1b;
    --accent2-color: #38726c;
    --white: #fff;
    --black: #000
}

.nav-header {
    padding-top: 2.5%;
    float: right;
}

.nav-header a {
    background-color: var(--accent1-color);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

#logo {
    width: 100px;
}

body {
    padding-left: 4%;
    padding-right: 4%;
}

nav a {
    text-decoration: none;
    font-family: "Roboto";
}

h1 {
    position: absolute;
    top: 1%;
    right: 0;
    left: 0;
    text-align: center;
    font-family: "Trade Winds", system-ui;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 0.9;
}

h2 {
    font-family: "Roboto";
    color: var(--primary-color);
}

p {
    font-family: "Roboto";
}

article {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    background-color: var(--secondary-color);
    padding: 1%;
    background-color: rgba(97, 94, 32, .5);
}

article p {
    opacity: 1;
    position: absolute;
    width: 75%;
    color: var(--white);
}

#happy-client {
    width: 200px;
    height: auto;
    float: right;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

section img {
    float: left;
    width: 20%;
    height: 170px;
}

footer {
    background-color: var(--accent1-color);
    color: var(--white);
    margin-top: 20%;
    text-align: center;
    padding: 2%;
}

.sociallinks img{
    width: 50px;
    height: 50px;
    padding: 0 .5%;
}